<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Smart Fleet</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  

    <!-- Customized Bootstrap Stylesheet -->
   
    
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="assets/css1/main1.css" />
    <link rel="stylesheet" href="/css/pages/home/home.css" >
    <link rel="stylesheet" href="/css/_layout.css">
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/lib/fontawesome/all.css">
    



</head>

<body>

    <!-- Navbar & Hero Start -->
    <div class="container-fluid nav-bar sticky-top px-0 px-lg-4 py-2 py-lg-0">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="d-flex align-items-center ">
                    <div class="nav-right lo">
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand p-0 me-auto">
                            <h1 class="display-6 text-primary"><i class="fas fa-car-alt me-3"></i>Smart Fleet</h1>
                            <!-- <img src="img/logo.png" alt="Logo"> -->
                        </a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                @{
                    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
                }
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a asp-controller="Home" asp-action="Index" class="nav-item nav-link  @(currentController == "Home"   ? "active" : "") it">Home</a>

                        <div class="nav-item dropdown it">
                            <a asp-controller="Vehicles" asp-action="Index" class="nav-link dropdown-toggle @(currentController == "Vehicles"   ? "active" : "")">Vehicles</a>
                            <div class="dropdown-menu m-0">
                                <a asp-controller="Vehicles" asp-action="Index" class="dropdown-item">All Vehicles</a>
                                <a asp-controller="Vehicles" asp-action="Create" class="dropdown-item">Add New Vehicle</a>
                            </div>
                        </div>

                        <div class="nav-item dropdown it">
                            <a asp-controller="Drivers" asp-action="Index" class="nav-link dropdown-toggle @(currentController == "Drivers"   ? "active" : "")">Drivers</a>
                            <div class="dropdown-menu m-0">
                                <a asp-controller="Drivers" asp-action="Index" class="dropdown-item">All Drivers</a>
                            </div>
                        </div>





                        <div class="nav-item dropdown it">
                            <a asp-controller="Maintenances" asp-action="Index" class="nav-link dropdown-toggle @(currentController == "Maintenances"   ? "active" : "")">Maintenance</a>
                            <div class="dropdown-menu m-0">
                                <a asp-controller="Maintenances" asp-action="Index" class="dropdown-item">All Maintenances</a>
                            </div>
                        </div>

                        <div class="nav-item dropdown it">
                            <a asp-controller="SimCards" asp-action="Index" class="nav-link dropdown-toggle @(currentController == "SimCards" ? "active" : "")">SimCards</a>
                            <div class="dropdown-menu m-0">
                                <a asp-controller="SimCards" asp-action="Index" class="dropdown-item">Sim Cards</a>
                                <a asp-controller="SimCards" asp-action="Create" class="dropdown-item">Add new Sim Card</a>

                            </div>
                        </div>

                        <div class="nav-item dropdown it">
                            <a asp-controller="Tracking" asp-action="Index" class="nav-link dropdown-toggle @(currentController == "Tracking"   ? "active" : "")">Tracking</a>
                            <div class="dropdown-menu m-0">
                                <a asp-controller="Tracking" asp-action="Index" class="dropdown-item">Tracking</a>
                            </div>
                        </div>


                        <div class="nav-item dropdown it">
                            <a asp-controller="Orders" asp-action="Index" class="nav-link dropdown-toggle @(currentController == "Orders"   ? "active" : "")">Orders</a>
                            <div class="dropdown-menu m-0">
                                <a asp-controller="Orders" asp-action="Index" class="dropdown-item">All Order</a>
                                <a asp-controller="Orders" asp-action="Create" class="dropdown-item">Create New Order</a>
                            </div>
                        </div>
                        <li class="nav-item dropdown">
                            <a class="nav-link position-relative noti" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-bell fa-lg"></i>
                                <span id="notificationCount" class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill">
                                    @ViewBag.UnreadNotifications
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                                @if (ViewBag.Notifications != null && ViewBag.Notifications.Count > 0)
                                {
                                    @foreach (var notification in ViewBag.Notifications)
                                    {
                                        <li>
                                            <a class="dropdown-item d-flex justify-content-between" href="@Url.Action("MarkAsRead", "Notifications", new { id = notification.Id })">
                                                <span>@notification.Title - @notification.Message</span>
                                                <small class="text-muted">@notification.CreatedAt.ToString("hh:mm tt")</small>
                                            </a>
                                        </li>
                                        <hr class="dropdown-divider">
                                    }
                                }
                                else
                                {
                                    <li><a class="dropdown-item text-center" href="#">No new notifications</a></li>
                                }
                            </ul>
                        </li>



                    </div>

                    <div class="nav-auto acc">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Home" asp-action="Dashboard" class="icon-btn me-2" title="Dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                            <a asp-controller="Account" asp-action="MyAccount" class="icon-btn"><i class="fas fa-user"></i>Account</a>
                            <a asp-controller="Account" asp-action="Logout" class="icon-btn"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="icon-btn"><i class="fas fa-sign-in-alt"></i> SignIn</a>
                            <a asp-controller="Account" asp-action="Register" class="icon-btn"><i class="fas fa-user-plus"></i> SignUp</a>
                        }
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar & Hero End -->
    @RenderBody()

    <!-- Copyright Start -->
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-start mb-md-0">
                    <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>Smart Fleet</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end text-body">
                    Designed By <a class="border-bottom text-white" href="https://htmlcodex.com">FCI Assuit University</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/home.js"></script>
</body>

</html>
@await RenderSectionAsync("Scripts", required: false)

